<div class="mx-auto bg-transparent">

    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HERO A</h5>
                <table class="table table-dark">
                <tbody>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-primary">10</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="btn btn-primary">CHOOSE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HERO B</h5>
                <table class="table table-dark">
                <tbody>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-primary">10</td>
                    </tr>
                    <tr>
                    <td>Stat</td>
                    <td class="bg-danger">0</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="btn btn-primary">CHOOSE</a>
            </div>
        </div>
    </div>
    
</div>