<form action="/create/nova" method="POST">
   
    <div class="card-deck m-3">
        <div class="card" style="width: 18rem;">
            <button type="submit" class="btn btn-primary btn-lg" name="nome" value="palamouse">
                <img class="card-img-top" src="../img/palamouse.png" alt="PALAMOUSE">
            <div class="card-body">
                <h5 class="card-title">PALAMOUSE</h5>
                <p class="card-text"></p>
            </div>
            </button>
        </div>
        <div class="card" style="width: 18rem;">
            <button type="submit" class="btn btn-danger btn-lg" name="nome" value="retrorobot">
                <img class="card-img-top" src="../img/retrorobot.jpg" alt="RETRO-ROBOT">
            <div class="card-body">
                <h5 class="card-title">RETRO-ROBOT</h5>
                <p class="card-text"></p>
            </div>
            </button>
        </div>
    </div>
</form>